/* Appliquer une hauteur de 100% à body et html */

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;

    /* Variables */
    --width-chat: 23%;
}

.title {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - var(--width-chat));
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.loading-spinner {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 47%;
    left: 48.5%;
    transform: translate(-50%, -50%);
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-top: 5px solid #fff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.bg-video {
    position: fixed;
    top: 10%;
    left: 0.5%;
    width: 75%;
    height: 75%;
    z-index: 1;
    /* object-fit: cover; */
}

.chat-toggle {
    position: fixed;
    top: 0;
    right: 0;
    margin-right: calc(var(--width-chat) - 5px);
    margin-top: calc((var(--height-chat) / 2) + 2%);
    background-color: rgba(0, 0, 0, 0.7);
    width: 25px;
    height: 40px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    cursor: pointer;
    z-index: 1002;
    transition: right 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-toggle:hover {
    background-color: #00d1ff;
}

.chat-toggle.hidden {
    right: calc(-1 * var(--width-chat));
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#chat-toggle-icon {
    color: #fff;
    font-size: 18px;
    transition: transform 0.4s ease;
}

.chat-toggle.hidden #chat-toggle-icon {
    transform: rotate(180deg);
}

.chat-container {
    width: var(--width-chat);
    height: var(--height-chat);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    right: 20px;
    top: 100px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    z-index: 1001;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.chat-container.hidden {
    transform: translateX(100%);
    opacity: 0;
}

.chat-container h2 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
}

.chat-messages {
    flex-grow: 1;
    overflow-y: auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    color: #000;
}

.system-message {
    font-style: italic;
    text-align: center;
    color: #6c757d;
    margin-bottom: 10px;
}

.self-message, .other-message {
    max-width: 75%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 15px;
    position: relative;
    word-wrap: break-word;
    font-size: 14px;
    line-height: 1.5;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(10px); }
    100% { opacity: 1; transform: translateY(0); }
}

.self-message {
    background-color: #dcf8c6;
    align-self: flex-end;
    margin-left: auto;
    border-radius: 15px 15px 0 15px;
}

.other-message {
    background-color: #ffffff;
    align-self: flex-start;
    margin-right: auto;
    border-radius: 15px 15px 15px 0;
}

.self-message.strong, .other-message.strong {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
}

.self-message small, .other-message small {
    display: block;
    bottom: 5px;
    right: 10px;
    font-size: 10px;
    color: #555;
}

.chat-input {
    display: flex;
    gap: 10px;
    padding: 15px;
    background-color: #f8f9fa;
    border-top: 1px solid #ddd;
}

.chat-input input {
    flex: 1;
    border-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.chat-input button {
    border-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.chat-input input:focus {
    outline: none;
    box-shadow: none;
}

.chat-input button:focus {
    outline: none;
    box-shadow: none;
}
